@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiAccordion-root {
    overflow: visible !important;
}

/* Estilização básica do contêiner */
.tooltip {
    position: relative; /* Necessário para posicionar o balão */
    display: inline-block; /* Faz o componente ser apenas do tamanho do conteúdo */
    cursor: pointer;
  }

  /* O balão que aparece */
  .tooltip .tooltip-text {
    visibility: hidden; /* Esconde o balão por padrão */
    width: 200px; /* Largura do balão */
    text-align: center; /* Centraliza o texto */
    padding: 8px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    position: absolute; /* Para posicionar sobre o elemento */
    bottom: 125%; /* Ajuste vertical */
    left: 25%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta a posição para centralizar */
    opacity: 0; /* Invisível inicialmente */
    transition: opacity 0.3s; /* Animação suave */
  }

  /* Triângulo do balão */
  .tooltip .tooltip-text::after {
    content: '';
    position: absolute;
    top: 100%; /* Alinha o triângulo abaixo do balão */
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px; /* Tamanho do triângulo */
    border-style: solid;
    border-color: #333 transparent transparent transparent; /* Triângulo da mesma cor do balão */
  }

  /* Mostra o balão ao passar o mouse */
  .tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }